
    <nav class="navbar navbar-lg navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">SkyBook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a id="sign-up-link" class="nav-link" href="#">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a id="sign-up-link" class="nav-link" href="#">FAQs</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 login">
                <input class="form-control mr-sm-2" type="username" placeholder="username" aria-label="username" id = "username">
                <input class="form-control mr-sm-2" type="password" placeholder="password" aria-label="password" id = "password">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="login">Login</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h1 class="text-center">
                                Frequently Asked Questions
                            </h1>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                        Is there an official guidebook on the rules and regulations of skydiving?
                      </button>
                    </p>
                    <div class="collapse" id="collapseExample1">
                      <div class="card card-body">
                        USPA publishes the Skydiving Information Manual (SIM), which contains the most up-to-date information about skydiving. It contains everything from learning to skydive to obtaining all the skydiving licenses and ratings to extreme jumps. It's available online.
                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                        How many skydiving schools are there in the U.S.?
                      </button>
                    </p>
                    <div class="collapse" id="collapseExample2">
                      <div class="card card-body">
                        There are currently over 200 USPA Group Member skydiving centers or "drop zones," located within convenient driving distance of most major cities and towns. Find a Group Member DZ.
                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                        How can you become a member of USPA? Do you need to be a pro skydiver?
                      </button>
                    </p>
                    <div class="collapse" id="collapseExample3">
                      <div class="card card-body">
                        Anyone can become a member of USPA. You don't need to be a pro skydiver to support the sport of skydiving and help keep it around for others to join in years to come. Learn about the benefits and join online.
                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                        Is skydiving regulated by the FAA, which oversees aviation safety?
                      </button>
                    </p>
                    <div class="collapse" id="collapseExample4">
                      <div class="card card-body">
                        Yes, the FAA regulates skydiving. USPA disseminates industry safety standards.
                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                        I'm not a U.S. citizen or permanent resident. Can I attend the National Championships?

                      </button>
                    </p>
                    <div class="collapse" id="collapseExample5">
                      <div class="card card-body">
                        All USPA members are welcome to attend the National Championships. Members not eligible for medals or the U.S. Team will be entered as guests. See SCM Chapter 1 for more information.
                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">
                        Can I get a medal for my sponsor(s)?
                      </button>
                    </p>
                    <div class="collapse" id="collapseExample6">
                      <div class="card card-body">
                        USPA has a stock of medals perfect for framing as gifts to sponsors. For more information please send an email to competition@uspa.org.
                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample">
                        How do I register for the National Championships?
                      </button>
                    </p>
                    <div class="collapse" id="collapseExample7">
                      <div class="card card-body">
                        Registration methods vary depending on the host. Please contact us for more information about a particular event.
                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample8" aria-expanded="false" aria-controls="collapseExample">
                        How do I find a judge?
                      </button>
                    </p>
                    <div class="collapse" id="collapseExample8">
                      <div class="card card-body">
                        All active USPA judges are listed on our website. Just go to "Find A Judge" and search by name, or by location and discipline to find a judge.
                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample9" aria-expanded="false" aria-controls="collapseExample">
                        Do I need a judge for a State Record?
                      </button>
                    </p>
                    <div class="collapse" id="collapseExample9">
                      <div class="card card-body">
                        Any state record requires two officials to certify. One of these must be a judge rated in the discipline. For more details see SCM Chapter 3.
                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample10" aria-expanded="false" aria-controls="collapseExample">
                        What is the difference between a U.S. National Record and a USPA Open National Record?

                      </button>
                    </p>
                    <div class="collapse" id="collapseExample10">
                      <div class="card card-body">
                        The USPA Open National Record is for records set in U.S. airspace that contains foreign jumpers. The U.S. National record requires that all jumpers be U.S. citizens for permanent residents.

                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample11" aria-expanded="false" aria-controls="collapseExample">
                        What is a Sporting License and how do I get one?

                      </button>
                    </p>
                    <div class="collapse" id="collapseExample11">
                      <div class="card card-body">
                        Sporting Licenses are separate from USPA licenses (A, B, C, D) and are issued by the National Aeronautic Association (NAA) , on behalf of the Fédération Aéronautique Internationale (FAI). They are required for participation in international competition or any international record (world or continental). Please see the NAA’s website for more information. You may use the following guide during your application process.

FAI Sporting License Application/Renewal Procedure Guide

                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample12" aria-expanded="false" aria-controls="collapseExample">
                        Which is the safest drop zone?
                      </button>
                    </p>
                    <div class="collapse" id="collapseExample12">
                      <div class="card card-body">
                        No official organization rates the safety of skydiving centers. Compiling a list of accidents by skydiving center would simply indicate the busiest, most active centers. Drop zones that abide by the rules can still be places where individual jumpers have accidents. Feel free to ask the DZ directly about their safety record; they've been asked before. Drop zones that join as USPA Group Members are required to use only USPA-rated instructional personnel and provide standard skydiving equipment.

                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample13" aria-expanded="false" aria-controls="collapseExample">
                        What do you wear?

                      </button>
                    </p>
                    <div class="collapse" id="collapseExample13">
                      <div class="card card-body">
                        Recommended attire is comfortable clothing for the weather on the ground. Also, be sure to wear sneakers or shoes without hooks. Students are oftentimes outfitted in jumpsuits which are worn over the clothing. Skydiving equipment is provided by the drop zone.

                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample14" aria-expanded="false" aria-controls="collapseExample">
                        Do you have to "sign your life away" before skydiving?

                      </button>
                    </p>
                    <div class="collapse" id="collapseExample14">
                      <div class="card card-body">
                        As with most sports, there are potential risks involved and it is standard to address safety concerns. Upon arrival at a skydiving school, all jumpers must fill out a registration form and sign a liability release.

                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample15" aria-expanded="false" aria-controls="collapseExample">
                        How fast do you freefall?

                      </button>
                    </p>
                    <div class="collapse" id="collapseExample15">
                      <div class="card card-body">
                        Around 110 mph or approximately 1,000 feet for every six seconds of freefall.

                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample16" aria-expanded="false" aria-controls="collapseExample">
                        Will you lose your stomach, like on a roller coaster ride?

                      </button>
                    </p>
                    <div class="collapse" id="collapseExample16">
                      <div class="card card-body">
                        Surprisingly no. There typically isn't a "sudden drop" feeling. Falling at such a fast speed, the air acts almost like a cushion, supporting your body as you fly through the air.

                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample17" aria-expanded="false" aria-controls="collapseExample">
                        Will you lose your breath?

                      </button>
                    </p>
                    <div class="collapse" id="collapseExample17">
                      <div class="card card-body">
                        No. The rush of air and adrenaline may make you feel that way, but just relax and breathe normally through your nose or mouth.

                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample18" aria-expanded="false" aria-controls="collapseExample">
                        After your parachute opens, how long is the descent back to the ground?

                      </button>
                    </p>
                    <div class="collapse" id="collapseExample18">
                      <div class="card card-body">
                        Approximately five minutes; a good time to take in the breathtaking views and practice maneuvering the parachute.

                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample19" aria-expanded="false" aria-controls="collapseExample">
                        How much does it cost?

                      </button>
                    </p>
                    <div class="collapse" id="collapseExample19">
                      <div class="card card-body">
                        Prices vary depending on type of first jump and location. Tandem jumps typically range from $200-275. Most drop zones offer video and/or photos for an additional cost. Contact your local drop zone to get rates.

                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample20" aria-expanded="false" aria-controls="collapseExample">
                        Where can I learn to skydive?

                      </button>
                    </p>
                    <div class="collapse" id="collapseExample20">
                      <div class="card card-body">
                        Skydiving centers or "drop zones" are located in nearly every state and many countries. There's most likely a drop zone near you. USPA Group Member drop zones are skydiving centers who have pledged to follow USPA's Basic Safety Requirements and use appropriately trained instructors. Find a USPA Group Member drop zone near you.

                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample21" aria-expanded="false" aria-controls="collapseExample">
                        What are the physical requirements?

                      </button>
                    </p>
                    <div class="collapse" id="collapseExample21">
                      <div class="card card-body">
                        All participants should be in good health and physical condition and should not be on medication which could affect judgment or performance. Before scheduling a jump, check with the local drop zone's weight requirements.

                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample22" aria-expanded="false" aria-controls="collapseExample">
                        What height do you jump out of the airplane?

                      </button>
                    </p>
                    <div class="collapse" id="collapseExample22">
                      <div class="card card-body">
                        Typically, around 10,000 to 13,000 feet above the ground for tandem and AFF jumps, and 3,500 feet for Static-Line/IAD jumps.

                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample23" aria-expanded="false" aria-controls="collapseExample">
                        How long do you freefall?

                      </button>
                    </p>
                    <div class="collapse" id="collapseExample23">
                      <div class="card card-body">
                        For tandems and AFF, approximately 45-60 seconds before deploying your parachute between 3,000 and 5,000 feet above the ground. For Static-Line/IAD, deployment is almost instantaneous during the first five jumps, then freefall gradually increases as the training progresses.

                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample24" aria-expanded="false" aria-controls="collapseExample">
                        What if you get caught up in the moment and forget to pull the ripcord?

                      </button>
                    </p>
                    <div class="collapse" id="collapseExample24">
                      <div class="card card-body">
                        On a tandem jump, the instructor is ultimately in charge of pulling the ripcord, so if you forget to do it, he will. In Static-Line/IAD jumps, main canopy deployment is initiated immediately via the static line (static line) or the instructor throwing your main pilot chute (IAD), once you let go of the airplane. As an added precaution, all student gear is equipped with an Automatic Activation Device designed to activate the parachute automatically at predetermined altitude should the student fail to do so.

                      </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample25" aria-expanded="false" aria-controls="collapseExample">
                        How old do you have to be?

                      </button>
                    </p>
                    <div class="collapse" id="collapseExample25">
                      <div class="card card-body">
                        In the US, skydiving schools require a minimum age of 18.

                      </div>
                    </div>
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </div>